<div class="container-fluid bg-container mt-5">
        <div class="container ">
            <div class="text-center">
                <h2 class="text-center"> {{ section.settings.blog8-title1}}</h2>
            </div>
   

    
        <div class="row pb-4">
            <div class="col-sm-12">
                <div id="blog" class="carousel slide" date-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item item active">
                                           <div class="container">
                                               <div class="row d-flex justify-content-center">
                                                   <div class="col-sm-4 col-lg-4 col-xs-12 ">
                                                       <div class="card">
                                                                <div class="card-img img-card-blog" style="position: relative;">
                                                                  <img src="{{ section.settings.blog8-img1 | img_url: 'large' }}" alt="Product Image" class="image" style="position: relative;">
                                                                <div class="carousel-caption" style="position: absolute;"><h5 style="position: absolute; top:0;">
                                                                  {{ section.settings.blog8-desc1 }}
                                                                    </h5></div>
                                                                </div>
                                                           <div class="card-body">
                                                              
                                                            <div class="card-text">
                                                               <p class="card-text text-muted">
                                                                 {{ section.settings.blog8-carddesc1 }}
                                                                </p>
                                                              </div>

                                                                <div class="card-text text-right">
                                                                    <small class="text-right"><u>Learn more</u></small>
                                                                </div>
                                                           </div>
                                                       </div>
                                                   </div>

                                                   <div class="col-sm-4 col-lg-4 col-xs-12 item-2">
                                                        <div class="card item-2">
                                                            <div class="card-img img-card-blog" style="position: relative;">
                                                                <img src="{{ section.settings.blog8-img2 | img_url: 'large' }}" alt="Product Image" class="image" style="position: relative;">
                                                              <div class="carousel-caption" style="position: absolute;"><h5 style="position: absolute; top:0;">
                                                                {{ section.settings.blog8-desc2 }}
                                                                  </h5></div>
                                                              </div>
                                                                 <div class="card-body">
                                                              
                                                                    <div class="card-text">
                                                                       <p class="card-text text-muted">
                                                                         {{ section.settings.blog8-carddesc2 }}
                                                                        </p>
                                                                      </div>
        
                                                                        <div class="card-text text-right">
                                                                            <small class="text-right"><u>Learn more</u></small>
                                                                        </div>
                                                                   </div>

                                                           
                                                        </div>
                                                    </div>
                                               </div>
                                           </div>
                                         
                                    </div>


                                    <div class="carousel-item item item-3">
                                        <div class="container">
                                            <div class="row d-flex justify-content-center">
                                              

                                                <div class="col-sm-4 col-lg-4 col-xs-12 item-3">
                                                    <div class="card item-3">
                                                        <div class="card-img img-card-blog" style="position: relative;">
                                                            <img src="{{ section.settings.blog8-img4 | img_url: 'large' }}" alt="Product Image" class="image" style="position: relative;">
                                                          <div class="carousel-caption" style="position: absolute;"><h5 style="position: absolute; top:0;">
                                                            {{ section.settings.blog8-desc4 }}
                                                              </h5></div>
                                                          </div>
                                                             <div class="card-body">
                                                          
                                                                <div class="card-text">
                                                                   <p class="card-text text-muted">
                                                                     {{ section.settings.blog8-carddesc4 }}
                                                                    </p>
                                                                  </div>
    
                                                                    <div class="card-text text-right">
                                                                        <small class="text-right"><u>Learn more</u></small>
                                                                    </div>
                                                               </div>
                                                    </div>
                                                </div>

                                              



                                                    </div>
                                        </div>
                                            </div>






                                    <div class="carousel-item item">
                                            <div class="container">
                                                <div class="row d-flex justify-content-center">
                                                    <div class="col-sm-4 col-lg-4 col-xs-12">
                                                        <div class="card">
                                                            <div class="card-img img-card-blog" style="position: relative;">
                                                                <img src="{{ section.settings.blog8-img3 | img_url: 'large' }}" alt="Product Image" class="image" style="position: relative;">
                                                              <div class="carousel-caption" style="position: absolute;"><h5 style="position: absolute; top:0;">
                                                                {{ section.settings.blog8-desc3 }}
                                                                  </h5></div>
                                                              </div>
                                                                 <div class="card-body">
                                                              
                                                                    <div class="card-text">
                                                                       <p class="card-text text-muted">
                                                                         {{ section.settings.blog8-carddesc3 }}
                                                                        </p>
                                                                      </div>
        
                                                                        <div class="card-text text-right">
                                                                            <small class="text-right"><u>Learn more</u></small>
                                                                        </div>
                                                                   </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 col-lg-4 col-xs-12 item-2">
                                                        <div class="card item-2">
                                                            <div class="card-img img-card-blog" style="position: relative;">
                                                                <img src="{{ section.settings.blog8-img4 | img_url: 'large' }}" alt="Product Image" class="image" style="position: relative;">
                                                              <div class="carousel-caption" style="position: absolute;"><h5 style="position: absolute; top:0;">
                                                                {{ section.settings.blog8-desc4 }}
                                                                  </h5></div>
                                                              </div>
                                                                 <div class="card-body">
                                                              
                                                                    <div class="card-text">
                                                                       <p class="card-text text-muted">
                                                                         {{ section.settings.blog8-carddesc4 }}
                                                                        </p>
                                                                      </div>
        
                                                                        <div class="card-text text-right">
                                                                            <small class="text-right"><u>Learn more</u></small>
                                                                        </div>
                                                                   </div>
                                                        </div>
                                                    </div>

                                                  



                                                        </div>
                                            </div>
                                                </div>





                                                <!-- <div class="carousel-item item item-3">
                                                    <div class="container item-3">
                                                        <div class="row d-flex justify-content-center">
                                                          
            
                                                            <div class="col-sm-4 col-lg-4 col-xs-12 item-3">
                                                                <div class="card item-3">
                                                                    <div class="card-img img-card-blog" style="position: relative;">
                                                                        <img src="{{ section.settings.blog8-img4 | img_url: 'large' }}" alt="Product Image" class="image" style="position: relative;">
                                                                      <div class="carousel-caption" style="position: absolute;"><h5 style="position: absolute; top:0;">
                                                                        {{ section.settings.blog8-desc4 }}
                                                                          </h5></div>
                                                                      </div>
                                                                         <div class="card-body">
                                                                      
                                                                            <div class="card-text">
                                                                               <p class="card-text text-muted">
                                                                                 {{ section.settings.blog8-carddesc4 }}
                                                                                </p>
                                                                              </div>
                
                                                                                <div class="card-text text-right">
                                                                                    <small class="text-right"><u>Learn more</u></small>
                                                                                </div>
                                                                           </div>
                                                                </div>
                                                            </div>
            
                                                          
            
            
            
                                                                </div>
                                                    </div>
                                                        </div> -->
                                            </div>
                                          
                                     </div>
                                  
                                 
                    </div>
                    <a href="#blog" class="left carousel-control-prev" data-slide="prev">
                            <span class="glyphicon glyphicon-arrow-left" ></span>
                        </a>
            
                        <a href="#blog" class="right carousel-control-next" data-slide="next">
                                <span class="glyphicon glyphicon-arrow-right"
                                ></span>
                            </a>
                 
                </div>
                
            </div>
      
        </div>
    
    </div>


</div>


{% schema %}
{
  "name": "Blog 8",
	"max_blocks": 3,
  "settings": [
  {
    "id": "blog8-title1",
    "type": "text",
    "label": "Blog",
    "default": "Article"
  },
  {
    "type": "image_picker",
    "id": "blog8-img1",
    "label": "Card Image"
  },
  {
    "id": "blog8-desc1",
    "type": "text",
    "label": "Description",
    "default": "Lorem ipsum dolor sit amet consectetur"
  },
  {
    "id": "blog8-carddesc1",
    "type": "text",
    "label": "Card Description",
    "default": "Lorem ipsum dolor sit amet consectetur"
  },

  {
    "type": "image_picker",
    "id": "blog8-img2",
    "label": "Card Image"
  },
  {
    "id": "blog8-desc2",
    "type": "text",
    "label": "Description",
    "default": "Lorem ipsum dolor sit amet consectetur"
  },
  {
    "id": "blog8-carddesc2",
    "type": "text",
    "label": "Card Description",
    "default": "Lorem ipsum dolor sit amet consectetur"
  },

  {
    "type": "image_picker",
    "id": "blog8-img3",
    "label": "Card Image"
  },
  {
    "id": "blog8-desc3",
    "type": "text",
    "label": "Description",
    "default": "Lorem ipsum dolor sit amet consectetur"
  },
  {
    "id": "blog8-carddesc3",
    "type": "text",
    "label": "Card Description",
    "default": "Lorem ipsum dolor sit amet consectetur"
  },

  {
    "type": "image_picker",
    "id": "blog8-img4",
    "label": "Card Image"
  },
  {
    "id": "blog8-desc4",
    "type": "text",
    "label": "Description",
    "default": "Lorem ipsum dolor sit amet consectetur"
  },
  {
    "id": "blog8-carddesc4",
    "type": "text",
    "label": "Card Description",
    "default": "Lorem ipsum dolor sit amet consectetur"
  }
  ],

  "blocks": [
    {
      "type": "select",
      "name": "Add New Section",
      "settings": [
       
      ]
    }
  ],
  "presets": [
    {
      "name": "Blog 8",
      "category": "Blog",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
       
      ]
    }
  ]
}
{% endschema %}