<div class="container-fluid bg-container">

<h4 class="header-7">{{ section.settings.ecommerce8-Maintitle}}</h4>

        <div class="row justify-content-lg-around justify-content-md-center justify-content-sm-center justify-content-xs-center" >
            <div class="card col-lg-3 col-md-3 col-sm-4 col-xs-12 p-0 border-secondary m-1 ">
                <div class="card-img-top ecommerce8 ">
                        <img src="{{ section.settings.ecard8-img1-main | img_url: 'large' }}" alt="">
                        <div class="card-title text-center p-3"><h4 class=" font-weight-bold"> {{ section.settings.ecommerce8-title1}}</h4></div>
                        <div class="d-flex flex-row w-100 flex-nowrap">
                            <div class="card-text border border-right-0 border-secondary p-2 order-4"><h5 class="font-weight-bold px-3"><i class="fas fa-cart-plus"></i></h5></div>



                             <div class="card-text border border-secondary  border-right-0 p-2 order-3"><h5 class="font-weight-bold px-3"><i class="fas fa-share-alt"></i></h5></div>



                            <div class="card-text border border-secondary border-right-0 p-2 order-2"><h5 class="font-weight-bold px-3" ><i class="far fa-heart"></i></h5></div>



                            <div class="card-text border border-secondary border-left-0 border-right-0 p-2 order-1 w-100"><h5 class="font-weight-bold text-center">${{ section.settings.ecommerce8-price1}}</h5></div>
                        </div>
                </div>

                
            </div>

            <div class="card col-lg-3 col-md-3 col-sm-4 col-xs-12 p-0 border-secondary m-1 ">
                    <div class="card-img-top ecommerce8">
                            <img src="{{ section.settings.ecard8-img2-main | img_url: 'large' }}" alt="">
                            <div class="card-title text-center p-3"><h4 class=" font-weight-bold"> {{ section.settings.ecommerce8-title2}}</h4></div>
                            <div class="d-flex flex-row w-100 flex-nowrap">
                                <div class="card-text border border-right-0 border-secondary p-2 order-4"><h5 class="font-weight-bold px-3"><i class="fas fa-cart-plus"></i></h5></div>
    
    
    
                                 <div class="card-text border border-secondary  border-right-0 p-2 order-3"><h5 class="font-weight-bold px-3"><i class="fas fa-share-alt"></i></h5></div>
    
    
    
                                <div class="card-text border border-secondary border-right-0 p-2 order-2"><h5 class="font-weight-bold px-3" ><i class="far fa-heart"></i></h5></div>
    
    
    
                                <div class="card-text border border-secondary border-left-0 border-right-0 p-2 order-1 w-100"><h5 class="font-weight-bold text-center">${{ section.settings.ecommerce8-price2}}</h5></div>
                            </div>
                    </div>
    
                    
                </div>
                      


                <div class="card col-lg-3 col-md-3 col-sm-4 col-xs-12 p-0 border-secondary m-1 ">
                        <div class="card-img-top ecommerce8">
                                <img src="{{ section.settings.ecard8-img3-main | img_url: 'large' }}" alt="">
                                <div class="card-title text-center p-3"><h4 class=" font-weight-bold"> {{ section.settings.ecommerce8-title3}}</h4></div>
                                <div class="d-flex flex-row w-100 flex-nowrap">
                                    <div class="card-text border border-right-0 border-secondary p-2 order-4"><h5 class="font-weight-bold px-3"><i class="fas fa-cart-plus"></i></h5></div>
        
        
        
                                     <div class="card-text border border-secondary  border-right-0 p-2 order-3"><h5 class="font-weight-bold px-3"><i class="fas fa-share-alt"></i></h5></div>
        
        
        
                                    <div class="card-text border border-secondary border-right-0 p-2 order-2"><h5 class="font-weight-bold px-3" ><i class="far fa-heart"></i></h5></div>
        
        
        
                                    <div class="card-text border border-secondary border-left-0 border-right-0 p-2 order-1 w-100"><h5 class="font-weight-bold text-center">${{ section.settings.ecommerce8-price3}}</h5></div>
                                </div>
                        </div>
        
                        
                    </div>

                </div>

                    <div class="row justify-content-lg-around justify-content-md-center justify-content-sm-center justify-content-xs-center">
                            <div class="card col-lg-3 col-md-3 col-sm-4 col-xs-12 p-0 border-secondary m-1 ">
                                    <div class="card-img-top ecommerce8">
                                            <img src="{{ section.settings.ecard8-img4-main | img_url: 'large' }}" alt="">
                                            <div class="card-title text-center p-3"><h4 class=" font-weight-bold"> {{ section.settings.ecommerce8-title4}}</h4></div>
                                            <div class="d-flex flex-row w-100 flex-nowrap">
                                                <div class="card-text border border-right-0 border-secondary p-2 order-4"><h5 class="font-weight-bold px-3"><i class="fas fa-cart-plus"></i></h5></div>
                    
                    
                    
                                                 <div class="card-text border border-secondary  border-right-0 p-2 order-3"><h5 class="font-weight-bold px-3"><i class="fas fa-share-alt"></i></h5></div>
                    
                    
                    
                                                <div class="card-text border border-secondary border-right-0 p-2 order-2"><h5 class="font-weight-bold px-3" ><i class="far fa-heart"></i></h5></div>
                    
                    
                    
                                                <div class="card-text border border-secondary border-left-0 border-right-0 p-2 order-1 w-100"><h5 class="font-weight-bold text-center">${{ section.settings.ecommerce8-price4}}</h5></div>
                                            </div>
                                    </div>
                    
                                    
                                </div>

                                <div class="card col-lg-3 col-md-3 col-sm-4 col-xs-12 p-0 border-secondary m-1 ">
                                        <div class="card-img-top ecommerce8">
                                                <img src="{{ section.settings.ecard8-img5-main | img_url: 'large' }}" alt="">
                                                <div class="card-title text-center p-3"><h4 class=" font-weight-bold"> {{ section.settings.ecommerce8-title5}}</h4></div>
                                                <div class="d-flex flex-row w-100 flex-nowrap">
                                                    <div class="card-text border border-right-0 border-secondary p-2 order-4"><h5 class="font-weight-bold px-3"><i class="fas fa-cart-plus"></i></h5></div>
                        
                        
                        
                                                     <div class="card-text border border-secondary  border-right-0 p-2 order-3"><h5 class="font-weight-bold px-3"><i class="fas fa-share-alt"></i></h5></div>
                        
                        
                        
                                                    <div class="card-text border border-secondary border-right-0 p-2 order-2"><h5 class="font-weight-bold px-3" ><i class="far fa-heart"></i></h5></div>
                        
                        
                        
                                                    <div class="card-text border border-secondary border-left-0 border-right-0 p-2 order-1 w-100"><h5 class="font-weight-bold text-center">${{ section.settings.ecommerce8-price5}}</h5></div>
                                                </div>
                                        </div>
                        
                                        
                                    </div>

                                    <div class="card col-lg-3 col-md-3 col-sm-4 col-xs-12 p-0 border-secondary m-1 ">
                                            <div class="card-img-top ecommerce8">
                                                    <img src="{{ section.settings.ecard8-img6-main | img_url: 'large' }}" alt="">
                                                    <div class="card-title text-center p-3"><h4 class=" font-weight-bold"> {{ section.settings.ecommerce8-title6}}</h4></div>
                                                    <div class="d-flex flex-row w-100 flex-nowrap">
                                                        <div class="card-text border border-right-0 border-secondary p-2 order-4"><h5 class="font-weight-bold px-3"><i class="fas fa-cart-plus"></i></h5></div>
                            
                            
                            
                                                         <div class="card-text border border-secondary  border-right-0 p-2 order-3"><h5 class="font-weight-bold px-3"><i class="fas fa-share-alt"></i></h5></div>
                            
                            
                            
                                                        <div class="card-text border border-secondary border-right-0 p-2 order-2"><h5 class="font-weight-bold px-3" ><i class="far fa-heart"></i></h5></div>
                            
                            
                            
                                                        <div class="card-text border border-secondary border-left-0 border-right-0 p-2 order-1 w-100"><h5 class="font-weight-bold text-center">${{ section.settings.ecommerce8-price6}}</h5></div>
                                                    </div>
                                            </div>
                            
                                            
                                        </div>

                                        
                    </div>



</div>









{% schema %}
{
  "name": "ecommerce 8",
	"max_blocks": 3,
  "settings": [
  {
    "id": "ecommerce8-Maintitle",
    "type": "text",
    "label": "Main Title",
    "default": "Recommendations"
  },
  {
    "type": "image_picker",
    "id": "ecard8-img1-main",
    "label": "eCard Image 1"
  },
  {
    "id": "ecommerce8-title1",
    "type": "text",
    "label": "Ecomerce 2 Title",
    "default": "Product Name"
  },
  {
    "id": "ecommerce8-price1",
    "type": "text",
    "label": "Ecomerce 2 Title",
    "default": "600.00"
  },

  {
    "type": "image_picker",
    "id": "ecard8-img2-main",
    "label": "eCard Image "
  },
  {
    "id": "ecommerce8-title2",
    "type": "text",
    "label": "Ecomerce 8 Title",
    "default": "Product Name"
  },
  {
    "id": "ecommerce8-price2",
    "type": "text",
    "label": "Ecomerce 8 Title",
    "default": "600.00"
  },

  {
    "type": "image_picker",
    "id": "ecard8-img3-main",
    "label": "eCard Image "
  },
  {
    "id": "ecommerce8-title3",
    "type": "text",
    "label": "Ecomerce 8 Title",
    "default": "Product Name"
  },
  {
    "id": "ecommerce8-price3",
    "type": "text",
    "label": "Ecomerce 8 Title",
    "default": "600.00"
  },

  {
    "type": "image_picker",
    "id": "ecard8-img4-main",
    "label": "eCard Image "
  },
  {
    "id": "ecommerce8-title4",
    "type": "text",
    "label": "Ecomerce 8 Title",
    "default": "Product Name"
  },
  {
    "id": "ecommerce8-price4",
    "type": "text",
    "label": "Ecomerce 8 Title",
    "default": "600.00"
  },

  {
    "type": "image_picker",
    "id": "ecard8-img5-main",
    "label": "eCard Image "
  },
  {
    "id": "ecommerce8-title5",
    "type": "text",
    "label": "Ecomerce 8 Title",
    "default": "Product Name"
  },
  {
    "id": "ecommerce8-price5",
    "type": "text",
    "label": "Ecomerce 8 Title",
    "default": "600.00"
  },

  {
    "type": "image_picker",
    "id": "ecard8-img6-main",
    "label": "eCard Image "
  },
  {
    "id": "ecommerce8-title6",
    "type": "text",
    "label": "Ecomerce 8 Title",
    "default": "Product Name"
  },
  {
    "id": "ecommerce8-price6",
    "type": "text",
    "label": "Ecomerce 8 Title",
    "default": "600.00"
  }
  
  

  ],

  "blocks": [
    {
      "type": "select",
      "name": "Add New Section",
      "settings": [
       
      ]
    }
  ],
  "presets": [
    {
      "name": "ecommerce 8",
      "category": "Blog",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
       
      ]
    }
  ]
}
{% endschema %}