<div class="container-fluid bg-container">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6">
                <h1 class="font-weight-bold  ">
                  {{ section.settings.ecommerce4-title1}}</h1>
            </div>
            <div class="col-lg-6 pt-lg-5 pt-sm-3  float-lg-right float-md-center float-sm-center">
                    <small class="text-right text-muted float-lg-right d-flex align-items-center">
                      {{ section.settings.ecommerce4-subtitle1}}</small>
                </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="card m-3 col-lg-5 col-md-6 col-sm-6 col-xs-12 h-25 border-0">
              <div class="card-img-top carde4">
                    <img src="{{ section.settings.eCard4-img1 | img_url: 'large' }}" alt="" class="  card-imh-top img-fluid" style="position: relative;">
                  </div>

                  <div class="card-img-overlay d-flex align-items-end">
                      <div class="card-body">
                      <div class="card-title">
                          <h2 class="font-weight-bold ">{{ section.settings.ecommerce4-card1 }}</h2>
                      </div>

                      <div class="card-subtitle">
                          <h4 class="font-weight-light">{{ section.settings.ecommerce4-price1 }}</h4>
                        </div>
                    </div>
                    </div>

                    <div class="card-img-overlay">
                      <div class="card-body d-flex flex-column align-items-end ecommerce4">

                        <div class="card-discount text-center">
                              <h5>{{ section.settings.ecommerce4-discount-tag1 }}%</h5>
                        </div>

                        <div class="card-title d-flex ecommerce4">
                          <i class="far fa-heart d-flex m-2" style="font-size: 20px;"></i>
                        </div>

                        <div class="card-subtitle ecommerce4">
                            <i class="fas fa-share-alt m-2"  style="font-size: 20px;"></i>
                        </div>
                      </div>
                    </div>


              
            </div>

            <div class="card m-3 col-lg-5 col-md-6 col-sm-6 col-xs-12 h-25 border-0 carde4">
              <div class="card-img-top carde4">
                    <img src="{{ section.settings.eCard2-img2 | img_url: 'large' }}" alt="" class="  card-imh-top img-fluid" style="position: relative;">
                    </div>

                    <div class="card-img-overlay d-flex align-items-end">
                        <div class="card-body">
                        <div class="card-title">
                            <h2 class="font-weight-bold ">{{ section.settings.ecommerce4-card2 }}</h2>
                        </div>
  
                        <div class="card-subtitle">
                            <h4 class="font-weight-light">{{ section.settings.ecommerce4-price2 }}</h4>
                          </div>
                      </div>
                      </div>

                      <div class="card-img-overlay">
                          <div class="card-body d-flex flex-column align-items-end ecommerce4">
    
                            <div class="card-discount text-center">
                                  <h5>{{ section.settings.ecommerce4-discount-tag2 }}%</h5>
                            </div>
    
                            <div class="card-title d-flex ecommerce4">
                              <i class="far fa-heart d-flex m-2" style="font-size: 20px;"></i>
                            </div>
    
                            <div class="card-subtitle ecommerce4">
                                <i class="fas fa-share-alt m-2"  style="font-size: 20px;"></i>
                            </div>
                          </div>
                        </div>
                    
            </div>
        </div>

        <div class="row d-flex justify-content-center">
                <div class="card m-3 col-lg-5 col-md-6 col-sm-6 col-xs-12 h-25 border-0">
                  <div class="card-img-top carde4">
                        <img src="{{ section.settings.eCard2-img3 | img_url: 'large' }}" alt="" class="  card-imh-top img-fluid" style="position: relative;">
                      </div>

                      <div class="card-img-overlay d-flex align-items-end">
                          <div class="card-body">
                          <div class="card-title">
                              <h2 class="font-weight-bold ">{{ section.settings.ecommerce4-card3 }}</h2>
                          </div>
    
                          <div class="card-subtitle">
                              <h4 class="font-weight-light">{{ section.settings.ecommerce4-price3 }}</h4>
                            </div>
                        </div>
                        </div>

                        <div class="card-img-overlay">
                            <div class="card-body d-flex flex-column align-items-end ecommerce4">
      
                              <div class="card-discount text-center">
                                    <h5>{{ section.settings.ecommerce4-discount-tag3 }}%</h5>
                              </div>
      
                              <div class="card-title d-flex ecommerce4">
                                <i class="far fa-heart d-flex m-2" style="font-size: 20px;"></i>
                              </div>
      
                              <div class="card-subtitle ecommerce4">
                                  <i class="fas fa-share-alt m-2"  style="font-size: 20px;"></i>
                              </div>
                            </div>
                          </div>
                      
                </div>
    
                <div class="card m-3 col-lg-5 col-md-6 col-sm-6 col-xs-12 h-25 border-0">
                  <div class="card-img-top carde4">
                        <img src="{{ section.settings.eCard2-img4 | img_url: 'large' }}" alt="" class="  card-imh-top img-fluid" style="position: relative;">
                      </div>

                      <div class="card-img-overlay d-flex align-items-end">
                          <div class="card-body">
                          <div class="card-title">
                              <h2 class="font-weight-bold ">{{ section.settings.ecommerce4-card4 }}</h2>
                          </div>
    
                          <div class="card-subtitle">
                              <h4 class="font-weight-light">{{ section.settings.ecommerce4-price4 }}</h4>
                            </div>
                        </div>
                        </div>

                        <div class="card-img-overlay">
                            <div class="card-body d-flex flex-column align-items-end ecommerce4">
      
                              <div class="card-discount text-center">
                                    <h5>{{ section.settings.ecommerce4-discount-tag4 }}%</h5>
                              </div>
      
                              <div class="card-title d-flex ecommerce4">
                                <i class="far fa-heart d-flex m-2" style="font-size: 20px;"></i>
                              </div>
      
                              <div class="card-subtitle ecommerce4">
                                  <i class="fas fa-share-alt m-2"  style="font-size: 20px;"></i>
                              </div>
                            </div>
                          </div>

                      
                </div>
            </div>

            <div class="text-center m-lg-4 mt-2">
                    <button class="page-button button-bg1">BUTTON</button>
                </div>
    </div>
</div>


{% schema %}
{
  "name": "ecommerce 4",
	"max_blocks": 3,
  "settings": [
  {
    "id": "ecommerce4-title1",
    "type": "text",
    "label": "Blog",
    "default": "Title"
  },
  {
    "id": "ecommerce4-subtitle1",
    "type": "text",
    "label": "Blog",
    "default": "Lorem ipsum dolor sit amet consectetur."
  },
  {
    "type": "image_picker",
    "id": "eCard4-img1",
    "label": "eCard Image 1"
  }, 
  {
    "id": "ecommerce4-discount-tag1",
    "type": "text",
    "label": "Product Discount 1 ",
    "default": "-30"
  },
  {
    "id": "ecommerce4-card1",
    "type": "text",
    "label": "Card Text 1 ",
    "default": "Shoe Magazine"
  },
  {
    "id": "ecommerce4-price1",
    "type": "text",
    "label": "Price ",
    "default": "Php. 1,200.oo"
  },
  {
    "type": "image_picker",
    "id": "eCard2-img2",
    "label": "eCard Image 1"
  },
  {
    "id": "ecommerce4-discount-tag2",
    "type": "text",
    "label": "Product Discount 1 ",
    "default": "-30"
  },
  {
    "id": "ecommerce4-card2",
    "type": "text",
    "label": "Card Text 1 ",
    "default": "Shoe Magazine"
  },
  {
    "id": "ecommerce4-price2",
    "type": "text",
    "label": "Price ",
    "default": "Php. 1,200.oo"
  },

  {
    "type": "image_picker",
    "id": "eCard2-img3",
    "label": "eCard Image 1"
  },
  {
    "id": "ecommerce4-discount-tag3",
    "type": "text",
    "label": "Product Discount 1 ",
    "default": "-30"
  },
  {
    "id": "ecommerce4-card3",
    "type": "text",
    "label": "Card Text 1 ",
    "default": "Shoe Magazine"
  },
  {
    "id": "ecommerce4-price3",
    "type": "text",
    "label": "Price ",
    "default": "Php. 1,200.oo"
  },

  {
    "type": "image_picker",
    "id": "eCard2-img4",
    "label": "eCard Image 1"
  },
  {
    "id": "ecommerce4-discount-tag4",
    "type": "text",
    "label": "Product Discount 1 ",
    "default": "-30"
  },
  {
    "id": "ecommerce4-card4",
    "type": "text",
    "label": "Card Text 1 ",
    "default": "Shoe Magazine"
  },
  {
    "id": "ecommerce4-price4",
    "type": "text",
    "label": "Price ",
    "default": "Php. 1,200.oo"
  }
  ],

  "blocks": [
    {
      "type": "select",
      "name": "Add New Section",
      "settings": [
       
      ]
    }
  ],
  "presets": [
    {
      "name": "eccommerce 4",
      "category": "Blog",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
       
      ]
    }
  ]
}
{% endschema %}