<div class="container-fluid bg-container pl-0 mt-5" >
            <div class="text-center">
                <h2 class="text-center font-weight-bold">
                    {{ section.settings.ecommerce2-title1}}
                </h2>
              </div>
              <div class="row d-flex justify-content-center p-lg-3 p-md-3 p-xs-2 ml-0 mb-3">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 container1  ">
                  <div class="card pt-3 border-0">
                      <div class="card-img-top">
                          <img src="{{ section.settings.eCard2-img1 | img_url: 'large' }}" alt="Product Image" class="image">
                      </div>
                      <!-- card-price -->
                      <div class="card-img-overlay d-flex align-items-end text-center">
                        <div class="card-body">
                        <div class="card-title">
                          <h4 class="font-weight-bold">{{ section.settings.eCard2-price1 }}</h4>
                        </div>
                      </div>
                      </div>

                      <!-- card-hover-effect -->
                        <div class="overlay overlayCross">
                            <div class="card-text text-center">
                               <h5 class="font-weight-bold text"> See the full collection </h5>
                              </div>

                        </div>

                  </div>
                </div>

                <!-- 2 -->

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 container1  ">
                    <div class="card pt-3 border-0">
                        <div class="card-img-top">
                            <img src="{{ section.settings.eCard2-img2 | img_url: 'large' }}" alt="Product Image" class="image">
                        </div>
                        <!-- card-price -->
                        <div class="card-img-overlay d-flex align-items-end text-center">
                          <div class="card-body">
                          <div class="card-title">
                            <h4 class="font-weight-bold">{{ section.settings.eCard2-price2 }}</h4>
                          </div>
                        </div>
                        </div>
  
                        <!-- card-hover-effect -->
                          <div class="overlay overlayCross">
                              <div class="card-text text-center">
                                 <h5 class="font-weight-bold text"> See the full collection </h5>
                                </div>
  
                          </div>
  
                    </div>
                  </div>
                  <!-- 3 -->

                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 container1  ">
                      <div class="card pt-3 border-0">
                          <div class="card-img-top">
                              <img src="{{ section.settings.eCard2-img3 | img_url: 'large' }}" alt="Product Image" class="image">
                          </div>
                          <!-- card-price -->
                          <div class="card-img-overlay d-flex align-items-end text-center">
                            <div class="card-body">
                            <div class="card-title">
                              <h4 class="font-weight-bold">{{ section.settings.eCard2-price3 }}</h4>
                            </div>
                          </div>
                          </div>
    
                          <!-- card-hover-effect -->
                            <div class="overlay overlayCross">
                                <div class="card-text text-center">
                                   <h5 class="font-weight-bold text"> See the full collection </h5>
                                  </div>
    
                            </div>
    
                      </div>
                    </div>
                    <!-- 4 -->

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 container1  ">
                        <div class="card pt-3 border-0">
                            <div class="card-img-top">
                                <img src="{{ section.settings.eCard2-img4 | img_url: 'large' }}" alt="Product Image" class="image">
                            </div>
                            <!-- card-price -->
                            <div class="card-img-overlay d-flex align-items-end text-center">
                              <div class="card-body">
                              <div class="card-title">
                                <h4 class="font-weight-bold">{{ section.settings.eCard2-price4 }}</h4>
                              </div>
                            </div>
                            </div>
      
                            <!-- card-hover-effect -->
                              <div class="overlay overlayCross">
                                  <div class="card-text text-center">
                                     <h5 class="font-weight-bold text"> See the full collection </h5>
                                    </div>
      
                              </div>
      
                        </div>
                      </div>

                
            </div>

            <!-- row 2 -->

            <div class="row d-flex justify-content-center p-lg-3 p-md-3 p-xs-2 ml-0 mb-3">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 container1  ">
                  <div class="card pt-3 border-0">
                      <div class="card-img-top">
                          <img src="{{ section.settings.eCard2-img5 | img_url: 'large' }}" alt="Product Image" class="image">
                      </div>
                      <!-- card-price -->
                      <div class="card-img-overlay d-flex align-items-end text-center">
                        <div class="card-body">
                        <div class="card-title">
                          <h4 class="font-weight-bold">{{ section.settings.eCard2-price5 }}</h4>
                        </div>
                      </div>
                      </div>

                      <!-- card-hover-effect -->
                        <div class="overlay overlayCross">
                            <div class="card-text text-center">
                               <h5 class="font-weight-bold text"> See the full collection </h5>
                              </div>

                        </div>

                  </div>
                </div>

                <!-- 2 -->

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 container1  ">
                    <div class="card pt-3 border-0">
                        <div class="card-img-top">
                            <img src="{{ section.settings.eCard2-img6 | img_url: 'large' }}" alt="Product Image" class="image">
                        </div>
                        <!-- card-price -->
                        <div class="card-img-overlay d-flex align-items-end text-center">
                          <div class="card-body">
                          <div class="card-title">
                            <h4 class="font-weight-bold">{{ section.settings.eCard2-price6 }}</h4>
                          </div>
                        </div>
                        </div>
  
                        <!-- card-hover-effect -->
                          <div class="overlay overlayCross">
                              <div class="card-text text-center">
                                 <h5 class="font-weight-bold text"> See the full collection </h5>
                                </div>
  
                          </div>
  
                    </div>
                  </div>
                  <!-- 3 -->

                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 container1  ">
                      <div class="card pt-3 border-0">
                          <div class="card-img-top">
                              <img src="{{ section.settings.eCard2-img7 | img_url: 'large' }}" alt="Product Image" class="image">
                          </div>
                          <!-- card-price -->
                          <div class="card-img-overlay d-flex align-items-end text-center">
                            <div class="card-body">
                            <div class="card-title">
                              <h4 class="font-weight-bold">{{ section.settings.eCard2-price7 }}</h4>
                            </div>
                          </div>
                          </div>
    
                          <!-- card-hover-effect -->
                            <div class="overlay overlayCross">
                                <div class="card-text text-center">
                                   <h5 class="font-weight-bold text"> See the full collection </h5>
                                  </div>
    
                            </div>
    
                      </div>
                    </div>
                    <!-- 4 -->

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 container1  ">
                        <div class="card pt-3 border-0">
                            <div class="card-img-top">
                                <img src="{{ section.settings.eCard2-img8 | img_url: 'large' }}" alt="Product Image" class="image">
                            </div>
                            <!-- card-price -->
                            <div class="card-img-overlay d-flex align-items-end text-center">
                              <div class="card-body">
                              <div class="card-title">
                                <h4 class="font-weight-bold">{{ section.settings.eCard2-price8 }}</h4>
                              </div>
                            </div>
                            </div>
      
                            <!-- card-hover-effect -->
                              <div class="overlay overlayCross">
                                  <div class="card-text text-center">
                                     <h5 class="font-weight-bold text"> See the full collection </h5>
                                    </div>
      
                              </div>
      
                        </div>
                      </div>

                
            </div>
        
              </div>


        
        </div>
        
        


        {% schema %}
{
  "name": "ecommerce 2",
	"max_blocks": 3,
  "settings": [
  {
    "id": "ecommerce2-title1",
    "type": "text",
    "label": "Ecomerce 2 Title",
    "default": "Our Products"
  },
  {
    "type": "image_picker",
    "id": "eCard2-img1",
    "label": "eCard Image 1"
  },
  {
    "id": "eCard2-price1",
    "type": "text",
    "label": "Price",
    "default": "Php. 1,000.00"
  },
  {
    "type": "image_picker",
    "id": "eCard2-img2",
    "label": "eCard Image 1"
  },
  {
    "id": "eCard2-price2",
    "type": "text",
    "label": "Price",
    "default": "Php. 1,000.00"
  },
  {
    "type": "image_picker",
    "id": "eCard2-img3",
    "label": "eCard Image 1"
  },
  {
    "id": "eCard2-price3",
    "type": "text",
    "label": "Price",
    "default": "Php. 1,000.00"
  },
  {
    "type": "image_picker",
    "id": "eCard2-img4",
    "label": "eCard Image 1"
  },
  {
    "id": "eCard2-price4",
    "type": "text",
    "label": "Price",
    "default": "Php. 1,000.00"
  },
  {
    "type": "image_picker",
    "id": "eCard2-img5",
    "label": "eCard Image 1"
  },
  {
    "id": "eCard2-price5",
    "type": "text",
    "label": "Price",
    "default": "Php. 1,000.00"
  },
  {
    "type": "image_picker",
    "id": "eCard2-img6",
    "label": "eCard Image 1"
  },
  {
    "id": "eCard2-price6",
    "type": "text",
    "label": "Price",
    "default": "Php. 1,000.00"
  },
  {
    "type": "image_picker",
    "id": "eCard2-img7",
    "label": "eCard Image 1"
  },
  {
    "id": "eCard2-price7",
    "type": "text",
    "label": "Price",
    "default": "Php. 1,000.00"
  },
  {
    "type": "image_picker",
    "id": "eCard2-img8",
    "label": "eCard Image 1"
  },
  {
    "id": "eCard2-price8",
    "type": "text",
    "label": "Price",
    "default": "Php. 1,000.00"
  }
  ],

  "blocks": [
    {
      "type": "select",
      "name": "Add New Section",
      "settings": [
       
      ]
    }
  ],
  "presets": [
    {
      "name": "ecommerce 2",
      "category": "Blog",
      "blocks": [
        { 
          "type": "select"
        }
       
      ]
    }
  ]
}
{% endschema %}