<div class="container-fluid bg-container">
        <div class="container">
                 <div class="text-center pt-4 pb-4">
                     <h2 class="text-center">HOW IT WORKS</h2>
                 </div>
<!-- 1 -->
                 <div class="row d-flex justify-content-center">
                     <div class="card col-lg-2 col-md-2 col-sm-2 p-3 d-flex d-flex flex-column border-0">
                         <div class="card-img-top img-hiw6 text-center"  style="position: relative;">
                                <img src="{{'media-pic7-thedrop.png' | asset_url}}" alt="">
                                <div class="arrow" style="position: absolute;"><i class="fas fa-arrow-right" style="position: absolute; left: 137px; bottom: 30px;"></i></div>

                         </div>

                         <div class="card-title">
                             <h4 class="font-weight-bold text-center">Download</h4>
                         </div>

                         <div class="card-text text-center">
                             <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam possimus eligendi impedit?</small>
                         </div>
                        </div>         
<!-- 2 -->
                        <div class="card col-lg-2 col-md-2 col-sm-2 p-3 d-flex d-flex flex-column border-0">
                                <div class="card-img-top img-hiw6 text-center"  style="position: relative;">
                                    <img src="{{'media-pic7-thedrop.png' | asset_url}}" alt="">
                                    <div class="arrow" style="position: absolute;"><i class="fas fa-arrow-right" style="position: absolute; left: 137px; bottom: 30px;"></i></div>

                                </div>

                                <div class="card-title">
                                    <h4 class="font-weight-bold text-center">Download</h4>
                                </div>

                                <div class="card-text text-center">
                                    <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam possimus eligendi impedit?</small>
                                </div>
                            </div>
<!-- 3 -->

                    <div class="card col-lg-2 col-md-2 col-sm-2 p-3 d-flex d-flex flex-column border-0">
                            <div class="card-img-top img-hiw6 text-center"  style="position: relative;">
                                <img src="{{'media-pic7-thedrop.png' | asset_url}}" alt="">
                                <div class="arrow" style="position: absolute;"><i class="fas fa-arrow-right" style="position: absolute; left: 137px; bottom: 30px;"></i></div>

                            </div>

                            <div class="card-title">
                                <h4 class="font-weight-bold text-center">Download</h4>
                            </div>

                            <div class="card-text text-center">
                                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam possimus eligendi impedit?</small>
                            </div>
                        </div>
<!-- 4 -->

                    <div class="card col-lg-2 col-md-2 col-sm-2 p-3 d-flex d-flex flex-column border-0">
                            <div class="card-img-top img-hiw6 text-center"  style="position: relative;">
                                <img src="{{'media-pic7-thedrop.png' | asset_url}}" alt="">
                                <div class="arrow" style="position: absolute;"><i class="fas fa-arrow-right" style="position: absolute; left: 137px; bottom: 30px;"></i></div>

                            </div>

                            <div class="card-title">
                                <h4 class="font-weight-bold text-center">Download</h4>
                            </div>

                            <div class="card-text text-center">
                                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam possimus eligendi impedit?</small>
                            </div>
                        </div>


                        <div class="card col-lg-2 col-md-2 col-sm-2 p-3 d-flex d-flex flex-column border-0">
                                <div class="card-img-top img-hiw6 text-center"  style="position: relative;">
                                    <img src="{{'media-pic7-thedrop.png' | asset_url}}" alt="">
                                   
        
                                </div>
        
                                <div class="card-title">
                                    <h4 class="font-weight-bold text-center">Download</h4>
                                </div>
        
                                <div class="card-text text-center">
                                    <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam possimus eligendi impedit?</small>
                                </div>
                            </div>
                 </div>
<!-- 5 -->


                <div class="row text-center d-flex justify-content-center p-4">

                        <p class="text-center"><small class="text-center"><u>See it in action <i class="far fa-play-circle"></i></u></small></p>
                </div>

                 
                 </div>
                 </div>







 {% schema %}
 {
   "name": "How it works 6",
     "max_blocks": 3,
   "settings": [
   {
     "id": "text-box-title",
     "type": "text",
     "label": "Blog",
     "default": "Title"
   },
   {
     "id": "blog-title",
     "type": "text",
     "label": "Title of Blog",
     "default": "Lorem ipsum dolor, sit amet consectetur adipisicing."
   },
   {
     "id": "description-text",
     "type": "text",
     "label": "Description",
     "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet minima ab tenetur omnis quis?"
   }
   ],
 
   "blocks": [
     {
       "type": "select",
       "name": "Add New Section",
       "settings": [
        
       ]
     }
   ],
   "presets": [
     {
       "name": "How it works 6",
       "category": "Blog",
       "blocks": [
         { 
           "type": "select"
         },
         {
           "type": "select"
         }
        
       ]
     }
   ]
 }
 {% endschema %}