<div class="container-fluid bg-container">
        <div class="container">

            <div class="row d-flex justify-content-center mb-5 mt-5">
                <div class="card col-lg-3 col-md-3 col-sm-12 col-xs-12 border-0">
                    <div class="card-body">
                    <div class="card-title">
                        <h2 class="font-weight-bold">{{ section.settings.testimonials9-title1}} </h2>
                    </div>

                    <div class="card-text">
                            <p>{{ section.settings.testimonials9-description1}}</p>
                    </div>

                    <div class=" text-left m-5 ">
                            <button class="page-button button-bg1 ">{{ section.settings.linktext }}</button>
                          </div>
                          </div>
                </div>

                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 d-flex align-items-center flex-row flex-wrap">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 testi9">
                        <div class="card text-center border-0 mt-5">
                            <div class="card-body">
                                <div class="card-tile">
                                        <i class="fas fa-quote-right"></i>
                                </div>

                                <div class="card-text text-center mt-4 p-4">
                                    <p>{{ section.settings.card1-text}}</p>
                                </div>

                                <div class="card-title text-center">
                                        <p class="mt-5 font-weight-bold subtitle9 ">{{ section.settings.card1-author}}</p>
                                </div>

                                <div class="card-subtitle text-center">
                                        <p class="mt-2 ">{{ section.settings.card1-jobtitle}}</p>
                                </div>
                            </div>    
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 testi9">
                            <div class="card text-center border-0 mt-5">
                                <div class="card-body">
                                    <div class="card-tile">
                                            <i class="fas fa-quote-right"></i>
                                    </div>
    
                                    <div class="card-text text-center mt-4 p-4">
                                        <p>{{ section.settings.card2-text}}</p>
                                    </div>
    
                                    <div class="card-title text-center">
                                            <p class="mt-5 font-weight-bold subtitle9 ">{{ section.settings.card2-author}}</p>
                                    </div>
    
                                    <div class="card-subtitle text-center">
                                            <p class="mt-2 ">{{ section.settings.card2-jobtitle}}</p>
                                    </div>
                                </div>    
                            </div>
                        </div>


                        <!-- 2ndrow -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 testi9">
                                <div class="card text-center border-0 mt-5">
                                    <div class="card-body">
                                        <div class="card-tile">
                                                <i class="fas fa-quote-right"></i>
                                        </div>
        
                                        <div class="card-text text-center mt-4 p-4">
                                            <p>{{ section.settings.card3-text}}</p>
                                        </div>
        
                                        <div class="card-title text-center">
                                                <p class="mt-5 font-weight-bold subtitle9 ">{{ section.settings.card3-author}}</p>
                                        </div>
        
                                        <div class="card-subtitle text-center">
                                                <p class="mt-2 ">{{ section.settings.card3-jobtitle}}</p>
                                        </div>
                                    </div>    
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 testi9">
                                    <div class="card text-center border-0 mt-5">
                                        <div class="card-body">
                                            <div class="card-tile">
                                                    <i class="fas fa-quote-right"></i>
                                            </div>
            
                                            <div class="card-text text-center mt-4 p-4">
                                                <p>{{ section.settings.card4-text}}</p>
                                            </div>
            
                                            <div class="card-title text-center">
                                                    <p class="mt-5 font-weight-bold subtitle9 ">{{ section.settings.card4-author}}</p>
                                            </div>
            
                                            <div class="card-subtitle text-center">
                                                    <p class="mt-2 ">{{ section.settings.card4-jobtitle}}</p>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                    
                </div>


            </div>


        </div>    
</div>


{% schema %}
{
  "name": "Testimonials 9",
	"max_blocks": 3,
  "settings": [
  {
    "id": "testimonials9-title1",
    "type": "text",
    "label": "Main Title",
    "default": "Why do people love form"
  },
  {
    "id": "testimonials9-description1",
    "type": "text",
    "label": "Description",
    "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet minima ab tenetur omnis quis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet minima ab tenetur omnis quis?"
  }, 
  {
    "id": "linktext",
    "type": "text",
    "label": "Button Text",
    "default": "Button"
  },



  {
    "id": "card1-text",
    "type": "text",
    "label": "Description",
    "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet minima ab tenetur omnis quis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet minima ab tenetur omnis quis?"
  },

  {
    "id": "card1-author",
    "type": "text",
    "label": "Author 1",
    "default": "Swayze Aguilar"
  },
  {
    "id": "card1-jobtitle",
    "type": "text",
    "label": "Job Title",
    "default": "Job Title"
  },


  {
    "id": "card2-text",
    "type": "text",
    "label": "Description",
    "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet minima ab tenetur omnis quis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet minima ab tenetur omnis quis?"
  },

  {
    "id": "card2-author",
    "type": "text",
    "label": "Author 2",
    "default": "Swayze Aguilar"
  },
  {
    "id": "card2-jobtitle",
    "type": "text",
    "label": "Job Title",
    "default": "Job Title"
  },


  {
    "id": "card3-text",
    "type": "text",
    "label": "Description",
    "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet minima ab tenetur omnis quis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet minima ab tenetur omnis quis?"
  },

  {
    "id": "card3-author",
    "type": "text",
    "label": "Author 3",
    "default": "Swayze Aguilar"
  },
  {
    "id": "card3-jobtitle",
    "type": "text",
    "label": "Job Title",
    "default": "Job Title"
  },


  {
    "id": "card4-text",
    "type": "text",
    "label": "Description",
    "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet minima ab tenetur omnis quis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet minima ab tenetur omnis quis?"
  },

  {
    "id": "card4-author",
    "type": "text",
    "label": "Author 4",
    "default": "Swayze Aguilar"
  },
  {
    "id": "card4-jobtitle",
    "type": "text",
    "label": "Job Title",
    "default": "Job Title"
  }
  ],

  "blocks": [
    {
      "type": "select",
      "name": "Add New Section",
      "settings": [
       
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials 9",
      "category": "Testimonials",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
       
      ]
    }
  ]
}
{% endschema %}