<div class="container-fluid bg-container">
     
            <div class="text-center font-weight-bold">
                <h1>Why people love form</h1>
            </div>

            <div class="row d-flex justify-content-center pb-5 mb-5">
             
                    <div class="carousel col-lg-12 col-md-12 col-sm-12 " id="myCarousel2">
                        <ol class="carousel-indicators page-dots-c2">
                                  
                            <li data-target="#myCarousel2" data-slide-to = "0" class="active dotss"></li>
                            <li data-target="#myCarousel2" data-slide-to = "1" class="dotss"></li>
                            <li data-target="#myCarousel2" data-slide-to = "2" class="dotss"></li>
                   
                        </ol>

                        <div class="carousel-inner">
                            <!-- slide 1 -->
                            <div class="item active">
                                <div class="card-container car-2 d-flex justify-content-center flex-row">

                                        <div class="card col-lg-4 col-md-4 col-sm-4 p-4 m-3">
                                                <div class="flexer d-flex flex-row">
                                                <div class="card-img-top img-test5 justify-content-center d-flex">
                                                    <img src="{{'Avatar2.png' | asset_url}}" alt="">
                                                </div>
                                                <div class="flexer2 d-flex flex-column">
                                                    <div class="card-title">
                                                        <h4 class="font-weight-bold m-0 p-0">Sean Farmer</h4>
                                                    </div>
                                                    <div class="card-stubtitle ">
                                                        <h5 class="pt-0 mt-0"> Job Title</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                            <div class="card-text p-4">
                                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis nobis doloremque sed accusantium, voluptatem possimus delectus voluptate enim facere totam?</p>
                                            </div>
                                        </div>
                                        </div>

                                        <div class="card col-lg-4 col-md-4 col-sm-4 p-4 m-3">
                                                <div class="flexer d-flex flex-row">
                                                <div class="card-img-top img-test5 justify-content-center d-flex">
                                                    <img src="{{'Avatar2.png' | asset_url}}" alt="">
                                                </div>
                                                <div class="flexer2 d-flex flex-column">
                                                    <div class="card-title">
                                                        <h4 class="font-weight-bold m-0 p-0">Sean Farmer</h4>
                                                    </div>
                                                    <div class="card-stubtitle ">
                                                        <h5 class="pt-0 mt-0"> Job Title</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                            <div class="card-text p-4">
                                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis nobis doloremque sed accusantium, voluptatem possimus delectus voluptate enim facere totam?</p>
                                            </div>
                                        </div>
                                        </div>

                                        <div class="card col-lg-4 col-md-4 col-sm-4 p-4 m-3">
                                                <div class="flexer d-flex flex-row">
                                                <div class="card-img-top img-test5 justify-content-center d-flex">
                                                    <img src="{{'Avatar2.png' | asset_url}}" alt="">
                                                </div>
                                                <div class="flexer2 d-flex flex-column">
                                                    <div class="card-title">
                                                        <h4 class="font-weight-bold m-0 p-0">Sean Farmer</h4>
                                                    </div>
                                                    <div class="card-stubtitle ">
                                                        <h5 class="pt-0 mt-0"> Job Title</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                            <div class="card-text p-4">
                                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis nobis doloremque sed accusantium, voluptatem possimus delectus voluptate enim facere totam?</p>
                                            </div>
                                        </div>
                                        </div>

                            </div>
                            </div>
                            <!-- slide 2 -->
                            <div class="item ">
                                <div class="card-container car-2 d-flex justify-content-center flex-row ">
                                        <div class="card col-lg-4 col-md-4 col-sm-4 p-4 m-3">
                                                <div class="flexer d-flex flex-row">
                                                <div class="card-img-top img-test5 justify-content-center d-flex">
                                                    <img src="{{'Avatar2.png' | asset_url}}" alt="">
                                                </div>
                                                <div class="flexer2 d-flex flex-column">
                                                    <div class="card-title">
                                                        <h4 class="font-weight-bold m-0 p-0">Sean Farmer</h4>
                                                    </div>
                                                    <div class="card-stubtitle ">
                                                        <h5 class="pt-0 mt-0"> Job Title</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                            <div class="card-text p-4">
                                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis nobis doloremque sed accusantium, voluptatem possimus delectus voluptate enim facere totam?</p>
                                            </div>
                                        </div>
                                        </div>
                                        
                                        <div class="card col-lg-4 col-md-4 col-sm-4 p-4 m-3">
                                                <div class="flexer d-flex flex-row">
                                                <div class="card-img-top img-test5 justify-content-center d-flex">
                                                    <img src="{{'Avatar2.png' | asset_url}}" alt="">
                                                </div>
                                                <div class="flexer2 d-flex flex-column">
                                                    <div class="card-title">
                                                        <h4 class="font-weight-bold m-0 p-0">Sean Farmer</h4>
                                                    </div>
                                                    <div class="card-stubtitle ">
                                                        <h5 class="pt-0 mt-0"> Job Title</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                            <div class="card-text p-4">
                                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis nobis doloremque sed accusantium, voluptatem possimus delectus voluptate enim facere totam?</p>
                                            </div>
                                        </div>
                                        </div>

                                        <div class="card col-lg-4 col-md-4 col-sm-4 p-4 m-3">
                                                <div class="flexer d-flex flex-row">
                                                <div class="card-img-top img-test5 justify-content-center d-flex">
                                                    <img src="{{'Avatar2.png' | asset_url}}" alt="">
                                                </div>
                                                <div class="flexer2 d-flex flex-column">
                                                    <div class="card-title">
                                                        <h4 class="font-weight-bold m-0 p-0">Sean Farmer</h4>
                                                    </div>
                                                    <div class="card-stubtitle ">
                                                        <h5 class="pt-0 mt-0"> Job Title</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                            <div class="card-text p-4">
                                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis nobis doloremque sed accusantium, voluptatem possimus delectus voluptate enim facere totam?</p>
                                            </div>
                                        </div>
                                        </div>

                                </div>
                            </div>
                                <!-- slide 3 -->
                                <div class="item ">
                                        <div class="card-container car-2 d-flex justify-content-center ">
                                                <div class="card col-lg-4 col-md-4 col-sm-4 p-4 m-3">
                                                        <div class="flexer d-flex flex-row">
                                                        <div class="card-img-top img-test5 justify-content-center d-flex">
                                                            <img src="{{'Avatar2.png' | asset_url}}" alt="">
                                                        </div>
                                                        <div class="flexer2 d-flex flex-column">
                                                            <div class="card-title">
                                                                <h4 class="font-weight-bold m-0 p-0">Sean Farmer</h4>
                                                            </div>
                                                            <div class="card-stubtitle ">
                                                                <h5 class="pt-0 mt-0"> Job Title</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                    <div class="card-text p-4">
                                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis nobis doloremque sed accusantium, voluptatem possimus delectus voluptate enim facere totam?</p>
                                                    </div>
                                                </div>
                                                </div>

                                                <div class="card col-lg-4 col-md-4 col-sm-4 p-4 m-3">
                                                        <div class="flexer d-flex flex-row">
                                                        <div class="card-img-top img-test5 justify-content-center d-flex">
                                                            <img src="{{'Avatar2.png' | asset_url}}" alt="">
                                                        </div>
                                                        <div class="flexer2 d-flex flex-column">
                                                            <div class="card-title">
                                                                <h4 class="font-weight-bold m-0 p-0">Sean Farmer</h4>
                                                            </div>
                                                            <div class="card-stubtitle ">
                                                                <h5 class="pt-0 mt-0"> Job Title</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                    <div class="card-text p-4">
                                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis nobis doloremque sed accusantium, voluptatem possimus delectus voluptate enim facere totam?</p>
                                                    </div>
                                                </div>
                                                </div>

                                                <div class="card col-lg-4 col-md-4 col-sm-4 p-4 m-3">
                                                        <div class="flexer d-flex flex-row">
                                                        <div class="card-img-top img-test5 justify-content-center d-flex">
                                                            <img src="{{'Avatar2.png' | asset_url}}" alt="">
                                                        </div>
                                                        <div class="flexer2 d-flex flex-column">
                                                            <div class="card-title">
                                                                <h4 class="font-weight-bold m-0 p-0">Sean Farmer</h4>
                                                            </div>
                                                            <div class="card-stubtitle ">
                                                                <h5 class="pt-0 mt-0"> Job Title</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                    <div class="card-text p-4">
                                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis nobis doloremque sed accusantium, voluptatem possimus delectus voluptate enim facere totam?</p>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                    </div>
                        </div>
                        <a class="left carousel-control test-5-left" href="#myCarousel2" data-slide="prev" role="button">
                                <span class="glyphicon glyphicon-arrow-left  icon-3" aria-hidden="true"></span>
                            </a>    
                        <a class="carousel-control right  test-5-right" href="#myCarousel2" data-slide="next"  role="button">
                                <span class="glyphicon glyphicon-arrow-right  icon-3" aria-hidden="true"></span>
                            </a>                        
                    </div>

                 
            </div>
  

       
        </div>





{% schema %}
{
  "name": "Testimonials 5",
	"max_blocks": 3,
  "settings": [
  {
    "id": "text-box-title",
    "type": "text",
    "label": "Blog",
    "default": "Title"
  },
  {
    "id": "blog-title",
    "type": "text",
    "label": "Title of Blog",
    "default": "Lorem ipsum dolor, sit amet consectetur adipisicing."
  },
  {
    "id": "description-text",
    "type": "text",
    "label": "Description",
    "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet minima ab tenetur omnis quis?"
  }
  ],

  "blocks": [
    {
      "type": "select",
      "name": "Add New Section",
      "settings": [
       
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials 5",
      "category": "Testimonials",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
       
      ]
    }
  ]
}
{% endschema %}s