<div class="container-fluid bg-container">
        <div class="container">
            <div class="text-center font-weight-bold">
                <h1>Why people love form</h1>
            </div>


            <div class="row d-flex justify-content-center pb-5 mb-5">
             
                    <div class="carousel col-lg-12 col-md-12 col-sm-12 carousel-fade slide " data-ride="carousel" id="myCarousel2">                       
                        <ol class="carousel-indicators page-dots-c2">
                                   
                            <li data-target="#myCarousel2" data-slide-to = "0" class="active dotss"></li>
                            <li data-target="#myCarousel2" data-slide-to = "1" class="dotss"></li>
                            <li data-target="#myCarousel2" data-slide-to = "2" class="dotss"></li>

                            <a class="left carousel-control" href="#myCarousel2" data-slide="prev" role="button">
                                    <span class="glyphicon glyphicon-arrow-left  icon-3" aria-hidden="true"></span>
                                </a>
                            <a class="carousel-control right" href="#myCarousel2" data-slide="next">
                                    <span class="glyphicon glyphicon-arrow-right  icon-3" aria-hidden="true"></span>
                                </a>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="card-container car-2 d-flex justify-content-center flex-row">


                                   

                                <div class="card col-lg-3 d-flex justify-content-center border-0 mt-5 mb-5  flex-column">
                                        <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ipsa rem consectetur? Architecto neque exercitationem dolorem vitae! At a minima tempora voluptatum reiciendis alias enim.</p>

                                    <div class="card-img-top justify-content-center d-flex">
                                <img src="{{'Avatar2.png' | asset_url}}" alt="" class="img-responsive img-test34 mt-5">
                            </div>
                            <div class="card-title">
                                    <h4 class="font-weight-bold text-center">Simon Alvin</h4>
                                </div>
                                <div class="card-subtitle">
                                        <h5 class="text-center mt-0 pt-0">
                                            Senior UX Designer
                                        </h5>
                                    </div>
                        </div>

                        <div class="card col-lg-3 d-flex justify-content-center border-0 mt-5 mb-5  flex-column">
                                <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ipsa rem consectetur? Architecto neque exercitationem dolorem vitae! At a minima tempora voluptatum reiciendis alias enim.</p>

                            <div class="card-img-top justify-content-center d-flex">
                        <img src="{{'Avatar2.png' | asset_url}}" alt="" class="img-responsive img-test34 mt-5">
                    </div>
                    <div class="card-title">
                            <h4 class="font-weight-bold text-center">Simon Alvin</h4>
                        </div>
                        <div class="card-subtitle">
                                <h5 class="text-center mt-0 pt-0">
                                    Senior UX Designer
                                </h5>
                            </div>
                </div>

                <div class="card col-lg-3 d-flex justify-content-center border-0 mt-5 mb-5  flex-column">
                        <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ipsa rem consectetur? Architecto neque exercitationem dolorem vitae! At a minima tempora voluptatum reiciendis alias enim.</p>

                    <div class="card-img-top justify-content-center d-flex">
                <img src="{{'Avatar2.png' | asset_url}}" alt="" class="img-responsive img-test34 mt-5">
            </div>
            <div class="card-title">
                    <h4 class="font-weight-bold text-center">Simon Alvin</h4>
                </div>
                <div class="card-subtitle">
                        <h5 class="text-center mt-0 pt-0">
                            Senior UX Designer
                        </h5>
                    </div>
        </div>
                            </div>
                            </div>

                            <div class="item ">
                                    <div class="card-container car-2 d-flex justify-content-center flex-row ">
                                            <div class="card col-lg-3 d-flex justify-content-center border-0 mt-5 mb-5  flex-column">
                                                    <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ipsa rem consectetur? Architecto neque exercitationem dolorem vitae! At a minima tempora voluptatum reiciendis alias enim.</p>
                                                <div class="card-img-top justify-content-center d-flex">
                                            <img src="{{'Avatar2.png' | asset_url}}" alt="" class="img-responsive img-test34 mt-5">
                                        </div>
                                        <div class="card-title">
                                                <h4 class="font-weight-bold text-center">Alvin Simon</h4>
                                            </div>
                                            <div class="card-subtitle">
                                                    <h5 class="text-center mt-0 pt-0">
                                                        Senior UX Designer
                                                    </h5>
                                                </div>
                                    </div>

                                    <div class="card col-lg-3 d-flex justify-content-center border-0 mt-5 mb-5  flex-column">
                                            <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ipsa rem consectetur? Architecto neque exercitationem dolorem vitae! At a minima tempora voluptatum reiciendis alias enim.</p>
                                            <div class="card-img-top justify-content-center d-flex">
                                        <img src="{{'Avatar2.png' | asset_url}}" alt="" class="img-responsive img-test34 mt-5">
                                    </div>
                                    <div class="card-title">
                                            <h4 class="font-weight-bold text-center">Alvin Simon</h4>
                                        </div>
                                        <div class="card-subtitle">
                                                <h5 class="text-center mt-0 pt-0">
                                                    Senior UX Designer
                                                </h5>
                                            </div>
                                </div>

                                <div class="card col-lg-3 d-flex justify-content-center border-0 mt-5 mb-5  flex-column">
                                        <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ipsa rem consectetur? Architecto neque exercitationem dolorem vitae! At a minima tempora voluptatum reiciendis alias enim.</p>
                                        <div class="card-img-top justify-content-center d-flex">
                                    <img src="{{'Avatar2.png' | asset_url}}" alt="" class="img-responsive img-test34 mt-5">
                                </div>
                                <div class="card-title">
                                        <h4 class="font-weight-bold text-center">Alvin Simon</h4>
                                    </div>
                                    <div class="card-subtitle">
                                            <h5 class="text-center mt-0 pt-0">
                                                Senior UX Designer
                                            </h5>
                                        </div>
                            </div>
                                        </div>
                                </div>

                                <div class="item ">
                                        <div class="card-container car-2 d-flex justify-content-center ">
                                                <div class="card col-lg-3 d-flex justify-content-center border-0 mt-5 mb-5  flex-column">
                                                        <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ipsa rem consectetur? Architecto neque exercitationem dolorem vitae! At a minima tempora voluptatum reiciendis alias enim.</p>
                                                    <div class="card-img-top justify-content-center d-flex">
                                                <img src="{{'Avatar2.png' | asset_url}}" alt="" class="img-responsive img-test34 mt-5">
                                            </div>
                                            <div class="card-title">
                                                    <h4 class="font-weight-bold text-center">Swayze Aguilar</h4>
                                                </div>
                                                <div class="card-subtitle">
                                                    <h5 class="text-center mt-0 pt-0">
                                                        Senior
                                                    </h5>
                                                </div>
                                        </div>
                                            </div>
                                    </div>
                        </div>                        
                    </div>
            </div>



            </div>
</div>


{% schema %}
{
  "name": "Testimonials 4",
	"max_blocks": 3,
  "settings": [
  {
    "id": "text-box-title",
    "type": "text",
    "label": "Blog",
    "default": "Title"
  },
  {
    "id": "blog-title",
    "type": "text",
    "label": "Title of Blog",
    "default": "Lorem ipsum dolor, sit amet consectetur adipisicing."
  },
  {
    "id": "description-text",
    "type": "text",
    "label": "Description",
    "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet minima ab tenetur omnis quis?"
  }
  ],

  "blocks": [
    {
      "type": "select",
      "name": "Add New Section",
      "settings": [
       
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials 4",
      "category": "Testimonials",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
       
      ]
    }
  ]
}
{% endschema %}